<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShopNest</title>
    <link
      rel="shortcut icon"
      href="{% static 'ShopNest/Bootstrap/icons/basket.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{% static 'ShopNest/Bootstrap/css/bootstrap.min.css' %}"
    />
  </head>
  <body>
    
    {% block header %}
      
    {% endblock header %}
      
    
    
    {% block nav %}
      
    {% endblock nav %}
      
    
      

    
    {% block sidebar %}
      
    {% endblock sidebar %}
      

    
    {% block main %}
      
    {% endblock main %}
      

    
    {% block footer %}
      
    {% endblock footer %}
      

    <script src="{% static 'ShopNest/Bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
